<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    
  </div>
  <ul class="nav navbar-nav">
    <li class="active"><a href="/home">HOME</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="/track">TRACKS
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/cst">CANNING STOCK ROUTE</a></li>
        <li><a href="/ht">HOLLAND TRACK</a></li>
        <li><a href="/dt">$1000 TRACK</a></li>
        <li><a href="/lt">700km IN LOW RANGE</a></li>
      </ul>
    </li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/contact">CONTACT</a></li>
    <li><a href="/profile">MY PROFILE</a></li>
  </ul>
</div>
</nav>
</div> 

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        <form action="/contact" method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label>Lastname</label>
            <input type="text" class="form-control" name="lastname">
        </div> 
        <div class="form-group">
            <label>Contact number</label>
            <input type="text" class="form-control" name="connum">
        </div>
        <div class="form-group">
            <label>Your question</label>
            <input type="textarea" class="form-control" name="msg">
        </div>
        
        <button type="submit" class="btn btn-success btn-lg">Submit</button>
    </form>
        </div>
    </div>
</div>

<footer id="footer" >
<div class="row">
  <div class="title"></div>
  <div id="kontakt" class="col-md-3">
  <h1 class="text-center">4WD Adventure</h1>
    <h3>contact us:</h3>
    <p>fon: +27/ 555- 555</p>
    <p>fon: +27/55-55-55</p>
    <p>Email:4wdadventure@gmail.com</p>
    
    
  
  </div>

  <div id="mreze" class="centar col-md-6 text-center">
    <h3>Social networks</h3>
    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
    <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
    <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
    <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
    <div class="row">
   
  </div>
  </div>

  <div id="logo" class="col-md-3">
    
    <h4>&copy  Milan Marković</h4>
  </div>

</div>
  
</footer> 
</body>
</html>