<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CST</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css"/>
    
</head>
<body>
<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    
  </div>
  <ul class="nav navbar-nav">
    <li class="active"><a href="/home">HOME</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="/track">TRACKS
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/cst">CANNING STOCK ROUTE</a></li>
        <li><a href="/ht">HOLLAND TRACK</a></li>
        <li><a href="/dt">$1000 TRACK</a></li>
        <li><a href="/lt">700km IN LOW RANGE</a></li>
      </ul>
    </li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/contact">CONTACT</a></li>
    <li><a href="/profile">MY PROFILE</a></li>
  </ul>
</div>
</nav>

<div id="section-a">
<div class="container">
    <div class="row">
        <div id="section-a-content" class="col-md-12 col-sm-6">
            <img src="../img/csr5.png" width="200px" height="200px">
            
                <p>The Canning Stock Route is a track that runs from Halls Creek in the Kimberley
                 region of Western Australia to Wiluna in the mid-west region. With a total distance
                  of around 1,850 km (1,150 mi) it is the longest historic stock route in the world.
                  The stock route was proposed as a way of breaking a monopoly that west Kimberley cattlemen
                   had on the beef trade at the beginning of the 20th century. In 1906, the Government of
                    Western Australia appointed Alfred Canning to survey the route. When the survey party returned
                     to Perth, Canning's treatment of Aboriginal guides came under scrutiny leading to a Royal
                      Commission. </p>
                   

            

        </div>
    </div>

</div>
</div>
<div id="section-b">
<div class="container">
    <div class="row">
        <div id="section-b-content" class="col-md-12 col-sm-6">
                <img src="../img/csr3.jpg" width="200px" height="200px">
                <p>The Canning Stock route is considered one of the world's
                 great four-wheel drive adventures. Apart from keeping the track open,
                  the route is not maintained. Some wells have been restored but others
                   are in ruins and unusable. While quite a few travellers successfully 
                   make the trip, it still requires substantial planning and a convoy of
                    well-equipped four-wheel drives or equivalent vehicles, and is only
                     practical during the cooler months. Fuel drops typically need to be
                      organised in advance and the 1,850 km (1,150 mi) trip will take two
                       to three weeks.[1] Fuel is now available at Kunawarritji Community
                        near well 33 and Parnngurr Community near well 22 as well as a fuel
                         drop point near Well 23</p>
            
              

                

         

        </div>
 </div>

 </div>
 <div class="col-md-3"></div>

 <div class="col-md-6" id="about">
 <h2 class="text-center">Canning Stock Route in numubers</h2>
 <p></p>            
 <table class="table table-dark table-striped text-center">
   <thead>
     <tr>
       <th>Length</th>
       <th>More then 1700 km or 1000 mile</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th>Time on road</th>
       <th>More then 20 days</th>                    
     </tr>
     <tr>
       <th>Driving skill</th>
       <th>Professional</th>                    
     </tr>
     <tr>
       <th>Difficulty</th>
       <th>Extremely hard</th>                    
     </tr>
   </tbody>
 </table>
</div>
 
</div>

<div id="section-c">
<div class="container">
<div class="row">
    <div id="section-c-content" class="col-md-12 col-sm-6">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3>Registration for Canning Stock Route</h3>
            <form action="/cst" method="post" id="form">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label>Lastname</label>
                    <input type="text" class="form-control" name="lastname">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" name="address">
                </div>
                <div class="form-group">
                    <label>Vehicle</label>
                    <input type="text" class="form-control" name="vehicle">
                </div>
                <div class="form-group">
                    <label>Contact email</label>
                    <input type="text" class="form-control" name="conemail">
                </div>
                <div class="form-group">
                    <label>Contact number</label>
                    <input type="text" class="form-control" name="connum">
                </div>
                <div class="form-group">
                    <label>Start date</label>
                    <input type="date" class="form-control" name="date">
                </div>
                
                <button type="submit" class="btn btn-success btn-lg">Submit</button>
            </form>

        </div>
        <div class="col-md-3"></div>
        <div id="query" class="col-md-12">  
            <div id="query-content" class="col-md-6">
            <a href="/allcsr" class="btn btn-default btn-sm">All registered for Canning Stock Route</a>
            </div>
            <div class="">
            <p>
            <p>
            
            
            
        </p>
            
           
</div>
</div>
</div>
</div>
</div>
</div>
<footer id="footer" >
<div class="row">
  <div class="title"></div>
  <div id="kontakt" class="col-md-3">
  <h1 class="text-center">4WD Adventure</h1>
    <h3>contact us:</h3>
    <p>fon: +27/ 555- 555</p>
    <p>fon: +27/55-55-55</p>
    <p>Email:4wdadventure@gmail.com</p>
    
    
  
  </div>

  <div id="mreze" class="centar col-md-6 text-center">
    <h3>Social networks</h3>
    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
    <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
    <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
    <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
    <div class="row">
   
  </div>
  </div>

  <div id="logo" class="col-md-3">
    
    <h4>&copy  Milan Marković</h4>
  </div>

</div>
  
</footer> 
</body>
</html>