<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>4WD action</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css">
    <style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
<!-- Brand -->


<!-- Toggler/collapsibe Button -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  <span class="navbar-toggler-icon"></span>
</button>

<!-- Navbar links -->
<div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/home">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile">MY PROFILE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">ABOUT</a>
    </li> 
    <!-- Dropdown -->
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="/track" id="navbardrop" data-toggle="dropdown">
      TRACKS
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/csr">CANNING STOCK ROUTE</a>
      <a class="dropdown-item" href="/ht">HOLLAND TRACK</a>
      <a class="dropdown-item" href="/dt">$1000 TRACK</a>
      <a class="dropdown-item" href="/lt">700km IN LOW RANGE</a>
    </div>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="/contact">CONTACT</a>
</li>
</ul>


  </ul>
  
</div> 
</nav>
<div class="container">

<!--Slider-->

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../img/img1.jpg" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img src="../img/img2.jpg" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="../img/img3.jpg" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

 <div id="section-a">
    <div class="container">
        <div class="row">
            <div id="section-a-content" class="start col-md-12 col-sm-6">
                <img src="../img/aus.gif" width="200px" height="200px">
                
                    <h1>The most extreme 4WD tracks in Australia. 
                    The hardest tracks for the hardest man or woman. We take you on a trip you will never forget</h1>
                    <a href="/track"><h1> Start your new adventure here</h1></a>
					

			    

            </div>
        </div>

    </div>
 </div>
 
</div>
<footer id="footer" >
<div class="row">
  <div class="title"></div>
  <div id="kontakt" class="col-md-3">
  <h1 class="text-center">4WD Adventure</h1>
    <h3>contact us:</h3>
    <p>fon: +27/ 555- 555</p>
    <p>fon: +27/55-55-55</p>
    <p>Email:4wdadventure@gmail.com</p>
    
    
  
  </div>

  <div id="mreze" class="centar col-md-6 text-center">
    <h3>Social networks</h3>
    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
    <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
    <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
    <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
    <div class="row">
   
  </div>
  </div>

  <div id="logo" class="col-md-3">
    
    <h4>&copy  Milan Marković</h4>
  </div>

</div>
  
</footer> 
</body>
</html>