<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CST</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    
  </div>
  <ul class="nav navbar-nav">
    <li class="active"><a href="/home">HOME</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="/track">TRACKS
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/cst">CANNING STOCK ROUTE</a></li>
        <li><a href="/ht">HOLLAND TRACK</a></li>
        <li><a href="/dt">$1000 TRACK</a></li>
        <li><a href="/lt">700km IN LOW RANGE</a></li>
      </ul>
    </li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/contact">CONTACT</a></li>
    <li><a href="/profile">MY PROFILE</a></li>
  </ul>
</div>
</nav>

<div id="section-a">
<div class="container">
    <div class="row">
        <div id="section-a-content" class="col-md-12 col-sm-6">
            <img src="../img/low1.jpg" width="200px" height="200px">
            
                <p>Touring Oombullgurri, Kalumburu, Ballangarra Country...         
               Over the tour you will traverse the 400 kilometre Carson River Track,
                leaving behind the Gibb River Road near Home Valley Station and emerging 
                again at Kalumburu.  
                The Carson River Track Tag-a-Long Tour
                 is a journey of understanding. As you
                  travel through this ancient land inhabited
                   by our Indigenous people for many thousands 
                   of years you will be immersed in culture! You will
                    also be exposed to the stories of all those who have
                     passed this way before you. You will learn about the history,
                      culture, pioneers and military significance of this remote place.
               Every day you will move forward on your journey and this will involve some
                very serious 4WDriving over what Ronald Morgan, the lead guide describes
                 as a goat track. Each day may involve up to 5 hours of driving,
                  opprtunity for fishing, photography, relaxing & much mor</p>

                

            

        </div>
    </div>

</div>
</div>
<div id="section-b">
<div class="container">
    <div class="row">
        <div id="section-b-content" class="col-md-12 col-sm-6">
        <img src="../img/low4.jpg" width="200px" height="200px">
            <p>TRIP STANDARD:
            Trips are rated A through to E, with A meaning only
             suited to vehicles with an extreme level of off-road
              modification and E meaning perfectly suited for all types of 4WD vehicles.     
            Gibb River Rd: D - these days this is an easy trip for any moderately equipped 4WD. 
            Purnululu: C - the remote nature of the area coupled with 
            the need to be totally self-sufficient earns this track C.
            Kalumburu: B - the tyranny of distance and possible atrocious
             road conditions make this a trip for the more experienced off-road adventurer
            Tablelands Track: A - this is as hard as it gets, remote,
             difficult and dangerous; this track is not for the inexperienced.
            WORDS BY GRAHAM CAHILL 4WD ACTION MAGAZINE</p>
              
             

         

        </div>
 </div>

 </div>
</div>

<div id="section-c">
<div class="container">
<div class="row">
    <div id="section-c-content" class="col-md-12 col-sm-6">
    <div class=col-md-3></div>
    <div class="col-md-6" id="about"
    >
    <h2 class="text-center">700km in low range  in numubers</h2>
    <p></p>            
    <table class="table table-dark table-striped text-center">
      <thead>
        <tr>
          <th>Length</th>
          <th>More then 700 km or 480 mile</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Time on road</th>
          <th>More then 10 days</th>                    
        </tr>
        <tr>
          <th>Driving skill</th>
          <th>Professional</th>                    
        </tr>
        <tr>
          <th>Difficulty</th>
          <th>Hard</th>                    
        </tr>
      </tbody>
    </table>
   </div>
   </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3>Registration for 700km in low range</h3>
            <form action="/lt" method="post">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label>Lastname</label>
                    <input type="text" class="form-control" name="lastname">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" name="address">
                </div>
                <div class="form-group">
                    <label>Vehicle</label>
                    <input type="text" class="form-control" name="vehicle">
                </div>
                <div class="form-group">
                    <label>Contact email</label>
                    <input type="text" class="form-control" name="conemail">
                </div>
                <div class="form-group">
                    <label>Contact number</label>
                    <input type="text" class="form-control" name="connum">
                </div>
                <div class="form-group">
                    <label>Start date</label>
                    <input type="date" class="form-control" name="date">
                </div>
                
                <button type="submit" class="btn btn-success btn-lg">Submit</button>
            </form>

        </div>
        <div class="col-md-3"></div>
        <div id="query" class="col-md-12">  
            <div id="query-content" class="col-md-6">
            <a href="/alllt" class="btn btn-default btn-sm">All registered for 700km in low range</a>
            </div>
            <div class="">
            <p>
            <!--<ul>
            <%  for(var i=0; i<items.length; i++){ %>
                <li><%= JSON.stringify(items[i]) %></li>
                    <% } %>
            </ul>-->
          
           
            
           
</div>
</div>
</div>
</div>
</div>
</div>
<footer id="footer" >
<div class="row">
  <div class="title"></div>
  <div id="kontakt" class="col-md-3">
  <h1 class="text-center">4WD Adventure</h1>
    <h3>contact us:</h3>
    <p>fon: +27/ 555- 555</p>
    <p>fon: +27/55-55-55</p>
    <p>Email:4wdadventure@gmail.com</p>
    
    
  
  </div>

  <div id="mreze" class="centar col-md-6 text-center">
    <h3>Social networks</h3>
    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
    <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
    <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
    <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
    <div class="row">
   
  </div>
  </div>

  <div id="logo" class="col-md-3">
    
    <h4>&copy  Milan Marković</h4>
  </div>

</div>
  
</footer> 
</body>
</html>