<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>4WD action</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
   
<div class="container">
    <div class="page-header text-center">
        <h1><span class=""></span> 4WD action</h1>
        <a href="/profile" class="btn btn-danger btn-sm">My Profile</a>
        <a href="home.html" class="btn btn-default btn-sm">Home</a>
        <a href="about.html" class="btn btn-default btn-sm">About</a>
        <a href="trucks.html" class="btn btn-default btn-sm">Trucks</a>
        <a href="contact.html" class="btn btn-default btn-sm">Contact</a>
    </div>
</div>
</body>
</html>